.articleNews {
  &-date {
    font-family: 'Montserrat-SemiBold';
    font-size: 24px;
    padding-top: 40px;
    border-top: 1px solid #c4c4c4;
    text-align: right;
  }
  &-title {
    color: #34b806;
    margin: 50px 0;
    font-family: 'Montserrat-SemiBold';
    font-size: 28px;
  }
  &-text {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .articleNews {
    &-date {
      font-size: 14px;
    }
    &-title {
      font-size: 18px;
      margin: 20px 0 30px;
    }
    &-text {
      font-size: 16px;
    }
  }
}
