.productSix {
  background-image: url('./../../../images/main/fon/1.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 51vw 370px;
  &-one {
    max-width: 1460px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &-oneInfo {
    max-width: 630px;
  }
  &-oneSubtitle {
    font-family: 'Montserrat-SemiBold';
    font-size: 26px;
  }
  &-text {
    margin-top: 30px;
  }
  &-iframe {
    width: 715px;
    height: 536px;
  }
  &-bottom {
    margin-bottom: 150px;
  }
}

@media (max-width: 1400px) {
  .productSix {
    &-one {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    &-oneInfo {
      margin: 0 0 50px;
    }
    &-iframe {
      max-width: 100%;
      height: 60vw;
    }
  }
}
@media (max-width: 480px) {
  .productSix {
    &-one,
    &-bottom {
      margin-bottom: 50px;
    }
  }
}
